## Not used on RHEL 8.3 because of the php invoking way
###php_value date.timezone 'Africa/Libreville'


<IfModule mod_rewrite.c>
    RewriteEngine On

#    # HTTPS Force
#    RewriteCond %{HTTPS} off
#    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#    # HTTPS Force

    RewriteBase /var/www/html
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>
