.block_ {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-shadow: 2px 2px
    }
.block_1 {
    display: block;
    font-family: serif;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_2 {
    display: block;
    font-family: serif;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_3 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_4 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_5 {
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1.5pt;
    display: block;
    font-family: serif;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1pt
    }
.block_6 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_7 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_8 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 35.5pt
    }
.block_9 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_10 {
    display: list-item;
    font-size: 1.125em;
    line-height: 1.2;
    margin-left: 124pt;
    padding-bottom: 0;
    padding-top: 0
    }
.block_11 {
    display: block;
    font-family: serif;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 106pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_12 {
    display: list-item;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-right: 25.5pt;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_13 {
    display: list-item;
    font-size: 1.125em;
    line-height: 1.2;
    margin-left: 17.8pt;
    padding-bottom: 0;
    padding-top: 0
    }
.block_14 {
    display: block;
    font-family: serif;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 17.8pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_15 {
    display: block;
    font-family: serif;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_16 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_17 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 212pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 70.8pt
    }
.block_18 {
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 212pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 35.4pt
    }
.block_19 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 212pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 35.4pt
    }
.block_20 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: underline
    }
.block_21 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: underline
    }
.block_22 {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_23 {
    display: table-row;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_24 {
    display: block;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    text-align: center
    }
.block_25 {
    display: block;
    font-family: serif;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    text-align: justify
    }
.block_26 {
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-before: always;
    text-align: justify
    }
.block_27 {
    display: block;
    font-family: serif;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid
    }
.block_28 {
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    text-align: justify
    }
.block_29 {
    display: block;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_30 {
    display: block;
    font-weight: bold;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_31 {
    display: list-item;
    margin-bottom: 3pt;
    margin-left: 7.1pt;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_32 {
    display: block;
    font-style: italic;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_33 {
    display: block;
    font-family: serif;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_34 {
    display: block;
    font-weight: bold;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: underline
    }
.block_35 {
    display: block;
    font-size: 1em;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.bullet_ {
    display: table-cell;
    font-weight: bold
    }
.calibre {
    color: black;
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre2 {
    display: table-row;
    vertical-align: inherit
    }
.calibre3 {
    white-space: pre-wrap
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    font-style: italic
    }
.calibre6 {
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 8.75pt;
    padding-right: 0;
    padding-top: 0
    }
.calibre7 {
    display: table-cell
    }
.calibre8 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.list_ {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.list_1 {
    display: block;
    list-style-type: square;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.tab {
    white-space: pre
    }
.table_ {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-collapse: collapse;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-spacing: 2px;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.table_1 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.td_ {
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.75pt;
    padding-right: 5.75pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: bottom;
    width: 273pt
    }
.td_1 {
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.75pt;
    padding-right: 5.75pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 273pt
    }
.td_2 {
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.75pt;
    padding-right: 5.75pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 254pt
    }
.td_3 {
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.75pt;
    padding-right: 5.75pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 292pt
    }
.td_4 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.75pt;
    padding-right: 5.75pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 317pt
    }
.td_5 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.75pt;
    padding-right: 5.75pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 228pt
    }
.td_6 {
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.75pt;
    padding-right: 5.75pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 97.5pt
    }
.td_7 {
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.75pt;
    padding-right: 5.75pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 99.2pt
    }
.td_8 {
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.75pt;
    padding-right: 5.75pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 120pt
    }
.td_9 {
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.75pt;
    padding-right: 5.75pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 228pt
    }
.text_ {
    font-size: 0.88889em
    }
.text_1 {
    font-size: 1em;
    line-height: 1.2
    }
.text_2 {
    font-style: italic;
    font-weight: bold
    }
.text_3 {
    font-weight: bold;
    text-decoration: underline
    }
.text_4 {
    text-decoration: underline
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

