.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.033203;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.692383;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.913574;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:39.924000px;}
._1{width:455.364000px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:32.000000px;}
.fs2{font-size:36.000000px;}
.fs1{font-size:40.000000px;}
.fs0{font-size:60.000000px;}
.y6f{bottom:-0.045999px;}
.y2{bottom:0.000000px;}
.y6d{bottom:1.454001px;}
.y69{bottom:15.327954px;}
.y68{bottom:25.655041px;}
.y0{bottom:28.000000px;}
.y29{bottom:31.750000px;}
.y67{bottom:31.982068px;}
.y66{bottom:41.308972px;}
.y65{bottom:51.636060px;}
.y27{bottom:66.950001px;}
.y64{bottom:66.963025px;}
.y63{bottom:77.289990px;}
.y26{bottom:87.312995px;}
.y62{bottom:87.617017px;}
.y25{bottom:97.640021px;}
.y61{bottom:97.944043px;}
.y60{bottom:108.271008px;}
.y24{bottom:118.084032px;}
.y5f{bottom:118.598035px;}
.y23{bottom:127.264033px;}
.y5e{bottom:128.925061px;}
.y5d{bottom:132.252026px;}
.y22{bottom:137.481025px;}
.y5c{bottom:142.579053px;}
.y5b{bottom:154.906018px;}
.y21{bottom:164.971015px;}
.y5a{bottom:170.233044px;}
.y71{bottom:179.231009px;}
.y59{bottom:180.560071px;}
.y58{bottom:190.887036px;}
.y20{bottom:192.509040px;}
.y57{bottom:201.214062px;}
.y56{bottom:211.541028px;}
.y1f{bottom:217.663032px;}
.y1e{bottom:229.989997px;}
.y1d{bottom:250.644050px;}
.y55{bottom:261.819043px;}
.y6e{bottom:261.981042px;}
.y54{bottom:270.999036px;}
.y1c{bottom:271.298011px;}
.y70{bottom:277.016983px;}
.y53{bottom:280.179028px;}
.y6b{bottom:281.980994px;}
.y52{bottom:289.359021px;}
.y1b{bottom:291.952033px;}
.y51{bottom:298.538983px;}
.y50{bottom:307.719037px;}
.y1a{bottom:312.606025px;}
.y4f{bottom:316.899029px;}
.y4e{bottom:326.079022px;}
.y19{bottom:333.260014px;}
.y4d{bottom:335.258984px;}
.y18{bottom:343.587012px;}
.y4c{bottom:344.439008px;}
.y4b{bottom:353.619031px;}
.y4a{bottom:362.799023px;}
.y17{bottom:368.741034px;}
.y49{bottom:371.978986px;}
.y16{bottom:381.068030px;}
.y48{bottom:381.159009px;}
.y47{bottom:390.339032px;}
.y46{bottom:399.519025px;}
.y15{bottom:401.722022px;}
.y45{bottom:408.698987px;}
.y14{bottom:412.049018px;}
.y44{bottom:417.879010px;}
.y13{bottom:422.376014px;}
.y12{bottom:443.030033px;}
.y11{bottom:453.357032px;}
.y6c{bottom:471.244012px;}
.y10{bottom:478.511024px;}
.y43{bottom:478.694012px;}
.y42{bottom:487.874036px;}
.y6a{bottom:490.750031px;}
.yf{bottom:490.838019px;}
.y41{bottom:497.054028px;}
.y40{bottom:506.234021px;}
.ye{bottom:511.492011px;}
.y3f{bottom:524.594022px;}
.y3e{bottom:533.774014px;}
.yd{bottom:537.883018px;}
.y3d{bottom:542.954022px;}
.y3c{bottom:552.134015px;}
.yc{bottom:558.537024px;}
.y3b{bottom:561.314023px;}
.y3a{bottom:579.674023px;}
.yb{bottom:584.928016px;}
.y39{bottom:588.854016px;}
.y38{bottom:598.034024px;}
.ya{bottom:605.582023px;}
.y37{bottom:616.394025px;}
.y36{bottom:625.574017px;}
.y9{bottom:631.973029px;}
.y35{bottom:634.754025px;}
.y34{bottom:643.934018px;}
.y8{bottom:652.627021px;}
.y33{bottom:662.294018px;}
.y7{bottom:679.018020px;}
.y32{bottom:680.654019px;}
.y31{bottom:689.834019px;}
.y28{bottom:699.598036px;}
.y6{bottom:699.672027px;}
.y30{bottom:708.194020px;}
.y2f{bottom:717.374024px;}
.y5{bottom:722.826022px;}
.y2e{bottom:726.554024px;}
.y2d{bottom:735.734025px;}
.y4{bottom:744.921022px;}
.y2c{bottom:754.094022px;}
.y3{bottom:759.796023px;}
.y2b{bottom:763.274024px;}
.y2a{bottom:772.454025px;}
.y72{bottom:785.000000px;}
.y1{bottom:785.000025px;}
.h10{height:7.800000px;}
.he{height:9.300000px;}
.hd{height:21.671875px;}
.h8{height:23.312500px;}
.ha{height:24.380859px;}
.h5{height:26.208984px;}
.h6{height:26.226562px;}
.h4{height:27.089844px;}
.h7{height:28.195312px;}
.hf{height:29.140625px;}
.h2{height:42.750000px;}
.h12{height:43.000000px;}
.h3{height:53.115234px;}
.h11{height:187.050009px;}
.hc{height:289.799994px;}
.h9{height:708.000036px;}
.hb{height:780.300024px;}
.h1{height:800.000000px;}
.h0{height:841.900024px;}
.w8{width:60.500000px;}
.w7{width:76.500000px;}
.w4{width:77.250000px;}
.w5{width:207.750000px;}
.w2{width:208.354965px;}
.w3{width:208.500000px;}
.w6{width:209.250000px;}
.w1{width:541.500000px;}
.w0{width:595.299988px;}
.x1{left:0.000000px;}
.xe{left:7.550000px;}
.x9{left:21.600000px;}
.x0{left:32.500000px;}
.x5{left:34.000000px;}
.x12{left:35.500000px;}
.xb{left:49.034001px;}
.xd{left:57.038999px;}
.xf{left:66.329003px;}
.x7{left:69.400002px;}
.x3{left:77.966999px;}
.x10{left:85.395001px;}
.x2{left:95.950001px;}
.xc{left:104.250005px;}
.x6{left:140.349998px;}
.x4{left:153.887001px;}
.xa{left:363.000000px;}
.x8{left:386.945007px;}
.x11{left:494.250000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:53.232000pt;}
._1{width:607.152000pt;}
.fs3{font-size:42.666667pt;}
.fs2{font-size:48.000000pt;}
.fs1{font-size:53.333333pt;}
.fs0{font-size:80.000000pt;}
.y6f{bottom:-0.061332pt;}
.y2{bottom:0.000000pt;}
.y6d{bottom:1.938668pt;}
.y69{bottom:20.437272pt;}
.y68{bottom:34.206722pt;}
.y0{bottom:37.333333pt;}
.y29{bottom:42.333333pt;}
.y67{bottom:47.976090pt;}
.y66{bottom:61.745296pt;}
.y65{bottom:75.514746pt;}
.y27{bottom:89.266668pt;}
.y64{bottom:89.284033pt;}
.y63{bottom:103.053320pt;}
.y26{bottom:116.417327pt;}
.y62{bottom:116.822689pt;}
.y25{bottom:130.186695pt;}
.y61{bottom:130.592057pt;}
.y60{bottom:144.361344pt;}
.y24{bottom:157.445376pt;}
.y5f{bottom:158.130713pt;}
.y23{bottom:169.685377pt;}
.y5e{bottom:171.900081pt;}
.y5d{bottom:185.669368pt;}
.y22{bottom:199.308033pt;}
.y5c{bottom:199.438737pt;}
.y5b{bottom:213.208024pt;}
.y21{bottom:219.961353pt;}
.y5a{bottom:226.977393pt;}
.y71{bottom:238.974679pt;}
.y59{bottom:240.746761pt;}
.y58{bottom:254.516048pt;}
.y20{bottom:256.678720pt;}
.y57{bottom:268.285417pt;}
.y56{bottom:282.054704pt;}
.y1f{bottom:290.217375pt;}
.y1e{bottom:306.653329pt;}
.y1d{bottom:334.192066pt;}
.y55{bottom:349.092057pt;}
.y6e{bottom:349.308056pt;}
.y54{bottom:361.332047pt;}
.y1c{bottom:361.730681pt;}
.y70{bottom:369.355977pt;}
.y53{bottom:373.572038pt;}
.y6b{bottom:375.974659pt;}
.y52{bottom:385.812028pt;}
.y1b{bottom:389.269377pt;}
.y51{bottom:398.051977pt;}
.y50{bottom:410.292049pt;}
.y1a{bottom:416.808033pt;}
.y4f{bottom:422.532039pt;}
.y4e{bottom:434.772030pt;}
.y19{bottom:444.346685pt;}
.y4d{bottom:447.011979pt;}
.y18{bottom:458.116016pt;}
.y4c{bottom:459.252010pt;}
.y4b{bottom:471.492041pt;}
.y4a{bottom:483.732031pt;}
.y17{bottom:491.654713pt;}
.y49{bottom:495.971981pt;}
.y16{bottom:508.090707pt;}
.y48{bottom:508.212012pt;}
.y47{bottom:520.452043pt;}
.y46{bottom:532.692033pt;}
.y15{bottom:535.629363pt;}
.y45{bottom:544.931982pt;}
.y14{bottom:549.398691pt;}
.y44{bottom:557.172013pt;}
.y13{bottom:563.168018pt;}
.y12{bottom:590.706711pt;}
.y11{bottom:604.476042pt;}
.y6c{bottom:628.325349pt;}
.y10{bottom:638.014698pt;}
.y43{bottom:638.258683pt;}
.y42{bottom:650.498714pt;}
.y6a{bottom:654.333374pt;}
.yf{bottom:654.450692pt;}
.y41{bottom:662.738704pt;}
.y40{bottom:674.978695pt;}
.ye{bottom:681.989348pt;}
.y3f{bottom:699.458695pt;}
.y3e{bottom:711.698686pt;}
.yd{bottom:717.177357pt;}
.y3d{bottom:723.938696pt;}
.y3c{bottom:736.178686pt;}
.yc{bottom:744.716033pt;}
.y3b{bottom:748.418697pt;}
.y3a{bottom:772.898698pt;}
.yb{bottom:779.904021pt;}
.y39{bottom:785.138688pt;}
.y38{bottom:797.378699pt;}
.ya{bottom:807.442697pt;}
.y37{bottom:821.858699pt;}
.y36{bottom:834.098690pt;}
.y9{bottom:842.630706pt;}
.y35{bottom:846.338700pt;}
.y34{bottom:858.578691pt;}
.y8{bottom:870.169361pt;}
.y33{bottom:883.058691pt;}
.y7{bottom:905.357360pt;}
.y32{bottom:907.538692pt;}
.y31{bottom:919.778693pt;}
.y28{bottom:932.797381pt;}
.y6{bottom:932.896036pt;}
.y30{bottom:944.258693pt;}
.y2f{bottom:956.498699pt;}
.y5{bottom:963.768030pt;}
.y2e{bottom:968.738699pt;}
.y2d{bottom:980.978700pt;}
.y4{bottom:993.228030pt;}
.y2c{bottom:1005.458695pt;}
.y3{bottom:1013.061364pt;}
.y2b{bottom:1017.698698pt;}
.y2a{bottom:1029.938699pt;}
.y72{bottom:1046.666667pt;}
.y1{bottom:1046.666700pt;}
.h10{height:10.400001pt;}
.he{height:12.400001pt;}
.hd{height:28.895833pt;}
.h8{height:31.083333pt;}
.ha{height:32.507812pt;}
.h5{height:34.945312pt;}
.h6{height:34.968750pt;}
.h4{height:36.119792pt;}
.h7{height:37.593750pt;}
.hf{height:38.854167pt;}
.h2{height:57.000000pt;}
.h12{height:57.333333pt;}
.h3{height:70.820312pt;}
.h11{height:249.400012pt;}
.hc{height:386.399992pt;}
.h9{height:944.000048pt;}
.hb{height:1040.400032pt;}
.h1{height:1066.666667pt;}
.h0{height:1122.533366pt;}
.w8{width:80.666667pt;}
.w7{width:102.000000pt;}
.w4{width:103.000000pt;}
.w5{width:277.000000pt;}
.w2{width:277.806620pt;}
.w3{width:278.000000pt;}
.w6{width:279.000000pt;}
.w1{width:722.000000pt;}
.w0{width:793.733317pt;}
.x1{left:0.000000pt;}
.xe{left:10.066667pt;}
.x9{left:28.800001pt;}
.x0{left:43.333333pt;}
.x5{left:45.333333pt;}
.x12{left:47.333333pt;}
.xb{left:65.378668pt;}
.xd{left:76.051998pt;}
.xf{left:88.438671pt;}
.x7{left:92.533335pt;}
.x3{left:103.955999pt;}
.x10{left:113.860002pt;}
.x2{left:127.933334pt;}
.xc{left:139.000006pt;}
.x6{left:187.133331pt;}
.x4{left:205.182668pt;}
.xa{left:484.000000pt;}
.x8{left:515.926676pt;}
.x11{left:659.000000pt;}
}
